@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body {
  background-color: #1b1b1b;
  color: white;
}
@layer components {
  /* orange text color  */
  .orange {
    @apply text-[#f5b754];
  }

  /* orange background color  */
  .bgOrange {
    @apply bg-[#f5b754];
  }

  .fBgBlack {
    @apply bg-[#1b1b1b];
  }
  .sBlack {
    color: #222222;
  }
  .sBgBlack {
    background-color: #222222;
  }
  .tBlack {
    @apply text-[#999];
  }
  .mxw {
    @apply max-w-7xl mx-auto;
  }

  .fontOutfit > {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
  }
}
/* .fontOutfit > {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
} */
