@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

#root {
  font-family: "Outfit", sans-serif;
}

.dark body {
  background-color: #1b1b1b;
  color: white;
}
body {
  background-color: #f8f9fa;
  color: #212529;
}
@layer components {
  /* orange text color  */
  .orange {
    @apply text-[#f5b754];
  }

  /* orange background color  */
  .bgOrange {
    @apply bg-[#f5b754];
  }

  .dark .fBgBlack {
    background-color: #1b1b1b;
  }

  .dark .sBlack {
    color: #222222;
  }
  .dark .sBgBlack {
    background-color: #222222;
  }
  .dark .tBlack {
    @apply text-[#999];
  }
  .dark .tBgBlack {
    @apply bg-[#999];
  }
  .mxw {
    @apply max-w-7xl mx-auto px-2;
  }

  .fontOutfit > {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
  }
  /* action btn  */
  .dark .fillBtn {
    @apply bg-[#f5b754] hover:bg-white text-black  lg:py-2 py-1 lg:px-6 px-4 rounded-full flex items-center transform duration-300 cursor-pointer;
  }
  /* hover btn using for outline  */
  .dark .outlineBtn {
    @apply border hover:border-[#f5b754] border-white hover:bg-[#f5b754] hover:text-black lg:py-2 py-1 lg:px-6 px-4 rounded-full flex items-center transition-all duration-300 cursor-pointer;
  }
}

/* Dark Mode Override (If needed) */
@layer components {
  .sBlack {
    color: #e9ecef;
  }
  .fBgBlack {
    background-color: #f8f9fa;
  }
  .sBgBlack {
    background-color: #e9ecef;
  }

  .tBlack {
    @apply text-[#495057];
  }

  .tBgBlack {
    @apply bg-[#DEE2E6];
  }

  .fillBtn {
    @apply bg-[#f5b754] hover:bg-[#212529] text-white  lg:py-2 py-1 lg:px-6 px-4 rounded-full flex items-center transform duration-300 cursor-pointer;
  }

  .outlineBtn {
    @apply dark:border hover:border-[#f5b754] border-white shadow hover:bg-[#212529] hover:text-white lg:py-2 py-1 lg:px-6 px-4 rounded-full flex items-center transition-all duration-300 cursor-pointer;
  }
}
